/*
 ##########################################################
 START DO NOT CHANGE ZONE
 ##########################################################
*/

html {
  box-sizing: border-box;

  color: #222;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
}

header {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

h1 {
  margin: 0;

  font-size: 1.5rem;
}

.chapter-num {
  display: block;

  font-size: 1rem;
  font-style: italic;
}

.colon {
  display: none;
}

main {
  padding: 1.5rem 0;
}

p {
  margin: 0;

  text-indent: 1.3em;
}

p:first-child {
  text-indent: 0;
}

main > p:first-child::first-line {
  font-style: italic;
}

footer {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

.wrapper:nth-child(2)::first-letter {
  display: inline-block;
  font-size: 5rem;
  background-color: #666;
  color: #f2f2f2;
  font-style: normal;
  float: left;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  margin-right: .2em;
  margin-bottom: .2em;
  margin-top: .05em;
  padding-top: .15em;
  padding-bottom: .15em;
  padding-left: .2em;
  padding-right: .2em;
}

figure {
  display: inline-block;
  float: right;
  width: 300px;
  margin-left: .2em;
  margin-top: .2em;
  margin-bottom: .2em;
  padding-top: 6px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  margin-right: 0;
}

figcaption {
  font-size: .875rem;
}

blockquote {
  float: left;
  width: 300px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  color: #666;
  margin-right: .2em;
  margin-top: .2em;
  margin-bottom: .2em;
  padding: 6px;
  font-size: 1.5rem;
  text-align: right;
  margin-left: 0;
}

main.wrapper {
  max-width: 60em;
}

main.wrapper > p {
  max-width: 45em;
  margin: auto;
}
